NET "max7219_load" LOC = P40 | IOSTANDARD = LVTTL;
NET "max7219_vcc" LOC = P41 | IOSTANDARD = LVTTL;
NET "max7219_data" LOC = P50 | IOSTANDARD = LVTTL;
NET "max7219_clock" LOC = P51 | IOSTANDARD = LVTTL;